{% extends 'base.html' %} {% block title %}Alterar Senha | {{ block.super }}{%
endblock %} {% block content %}
<div class="content">
  <div class="pure-g content-ribbon">
    <div class="pure-u-1">
      <div class="l-box">
        <h2>Alterar Senha</h2>

        <div class="pure-menu pure-menu-horizontal">
          <ul class="pure-menu-list">
            <li class="pure-menu-item">
              <a href="{% url 'accounts:dashboard' %}" class="pure-menu-link"
                >Meus Cursos</a
              >
            </li>
            <li class="pure-menu-item">
              <a href="{% url 'accounts:edit_account' %}" class="pure-menu-link"
                >Editar Conta</a
              >
            </li>
            <li class="pure-menu-item pure-menu-selected">
              <a
                href="{% url 'accounts:edit_password' %}"
                class="pure-menu-link"
                >Alterar Senha</a
              >
            </li>
          </ul>
        </div>
        <hr />

        <form class="pure-form pure-form-stacked" method="post">
          {% csrf_token %}

          <fieldset>
            {{ form.as_p }}
            <div class="pure-controls">
              <button type="submit" class="pure-button primary-button">
                Atualizar Senha
              </button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
